.header {
  display: grid;
  grid-template-columns: 150px 1fr auto;
  padding: var(--padding);
  gap: var(--padding);
  align-items: center;
  background: var(--color-black--alt);
}
.logo {
  display: block;
  padding: var(--padding);
  background: var(--color-disabled);
  height: 100%;
  border-radius: var(--radius);
}
.featuresMenu {
  display: flex;
  gap: var(--padding);
}
.layersMenu {
  list-style: none;
  display: flex;
  gap: var(--padding);
  margin: 0;
}